{% extends 'base.html.twig' %}

{% block title %}{{ 'registration.edit.title'|trans }}{% endblock %}

{% block body %}
    <div class="p-2 p-md-3 bg-light rounded-3">
        <h1 class="display-4">{{ 'registration.edit.title'|trans }}</h1>
        <p class="lead">{{ 'registration.edit.description'|trans }}</p>
        <a class="btn btn-outline-primary"
           href="{{ path('registration_edit_password') }}">{{ 'registration.edit.password.title'|trans }}</a>
        <form style="display: inline" method="post" action="{{ path('registration_delete', {'id': registration.id}) }}"
              onsubmit="return confirm('{{ 'registration.edit.confirm-delete'|trans({'club': registration.club}) }}');">
            <button class="btn btn-danger">{{ 'registration.edit.delete'|trans }}</button>
        </form>
        <hr class="my-4">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm._token) }}
        {{ form_row(registrationForm.email, {label: 'registration.data.email'}) }}
        {{ form_row(registrationForm.club, {label: 'registration.data.club'}) }}
        {{ form_row(registrationForm.country, {label: 'registration.data.country', 'attr': {'onChange': 'checkState(this)'}}) }}
        {{ form_row(registrationForm.state, {label: 'registration.data.state'}) }}
        {{ form_row(registrationForm.firstName, {label: 'registration.data.first-name'}) }}
        {{ form_row(registrationForm.lastName, {label: 'registration.data.last-name'}) }}
        {{ form_row(registrationForm.telephone, {label: 'registration.data.telephone'}) }}

        <button class="btn btn-success btn-lg" type="submit">{{ 'global.forms.button.save'|trans }}</button>
        {{ form_end(registrationForm, {'render_rest': false}) }}
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            let country = $(`select#registration_edit_form_country`).val()
            let state = $('select#registration_edit_form_state')

            if (country === 'DE') {
                state.parent().show()
            } else {
                state.val('').trigger('change')
                state.parent().hide()
            }
        })

        function checkState(element) {
            let country = $(`select#${element.id}`).val()
            let state = $('select#registration_edit_form_state')

            if (country === 'DE') {
                state.parent().show()
            } else {
                state.val('').trigger('change')
                state.parent().hide()
            }
        }
    </script>
{% endblock %}
