{% extends 'base.html.twig' %}

{% block title %}{{ 'registration.edit.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="p-5 mb-4 bg-light rounded-3">
            <h1 class="display-4">{{ 'registration.edit.title'|trans }}</h1>
            <p class="lead">{{ 'registration.edit.description'|trans }}</p>
            <a class="btn btn-outline-primary" href="{{ path('registration_edit_password') }}">Passwort ändern</a>
            <form style="display: inline" method="post" action="{{ path('registration_delete', {'id': registration.id}) }}"
                  onsubmit="return confirm('{{ 'registration.edit.confirm-delete'|trans({'club': registration.club}) }}');">
                <button class="btn btn-danger">{{ 'registration.edit.delete'|trans }}</button>
            </form>
            <hr class="my-4">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm._token) }}
            {{ form_row(registrationForm.email, {label: 'registration.data.email'}) }}
            {{ form_row(registrationForm.club, {label: 'registration.data.club'}) }}
            {{ form_row(registrationForm.country, {label: 'registration.data.country'}) }}
            {{ form_row(registrationForm.firstName, {label: 'registration.data.first-name'}) }}
            {{ form_row(registrationForm.lastName, {label: 'registration.data.last-name'}) }}
            {{ form_row(registrationForm.telephone, {label: 'registration.data.telephone'}) }}

            <button class="btn btn-success btn-lg" type="submit">{{ 'global.forms.button.save'|trans }}</button>
            {{ form_end(registrationForm, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}
