{% extends 'base.html.twig' %}

{% block title %}{{ 'registration.edit_password.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="p-5 mb-4 bg-light rounded-3">
            <h1 class="display-4">{{ 'registration.edit_password.title'|trans }}</h1>
            <p class="lead">{{ 'registration.edit_password.description'|trans }}</p>
            <hr class="my-4">
            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm._token) }}
            {{ form_row(registrationForm.email, {label: 'registration.data.email'}) }}
            {{ form_row(registrationForm.plainPassword, {label: 'registration.data.password'}) }}

            <button class="btn btn-success btn-lg" type="submit">{{ 'global.forms.button.save'|trans }}</button>
            {{ form_end(registrationForm, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}
