{% extends 'base.html.twig' %}

{% block title %}{{ 'registration.new.title'|trans }}{% endblock %}

{% block body %}
    <div class="p-2 p-md-3 bg-light rounded-3">
        <h1 class="display-4">{{ 'registration.new.title'|trans }}</h1>
        <p class="lead">{{ 'registration.new.description'|trans }}</p>
        <hr class="my-4">
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm._token) }}
        {{ form_row(registrationForm.email, {label: 'registration.data.email'}) }}
        {{ form_row(registrationForm.plainPassword, {label: 'registration.data.password'}) }}
        {{ form_row(registrationForm.club, {label: 'registration.data.club'}) }}
        {{ form_row(registrationForm.country, {label: 'registration.data.country'}) }}
        {{ form_row(registrationForm.firstName, {label: 'registration.data.first-name'}) }}
        {{ form_row(registrationForm.lastName, {label: 'registration.data.last-name'}) }}
        {{ form_row(registrationForm.telephone, {label: 'registration.data.telephone'}) }}

        <button class="btn btn-primary btn-lg" type="submit">{{ 'registration.new.action'|trans }}</button>
        {{ form_end(registrationForm, {'render_rest': false}) }}
    </div>
{% endblock %}
