{% extends 'base.html.twig' %}

{% block title %}{{ 'reset-password.request.title'|trans }}{% endblock %}

{% block body %}
    <div class="p-2 p-md-3 p-md-5 mb-4 bg-light rounded-3">
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <h1>{{ 'reset-password.request.title'|trans }}</h1>

        {{ form_start(requestForm) }}
        {{ form_row(requestForm.email, {'label': 'reset-password.request.data.email'}) }}
        <div>
            <small>
                {{ 'reset-password.request.description'|trans }}
            </small>
        </div>

        <button class="btn btn-primary">{{ 'reset-password.request.action'|trans }}</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
