{% extends 'base.html.twig' %}

{% block title %}{{ 'reset-password.reset.title'|trans }}{% endblock %}

{% block body %}
    <div class="p-2 p-md-3 p-md-5 mb-4 bg-light rounded-3">
        <h1>{{ 'reset-password.reset.title'|trans }}</h1>

        {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">{{ 'reset-password.reset.action'|trans }}</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
