{% extends 'base.html.twig' %}

{% block title %}{{ 'welcome.title'|trans }}{% endblock %}

{% block body %}
    <div class="p-2 p-md-3 bg-light rounded-3">
        <h1 class="display-4">{{ 'welcome.greeting'|trans }}</h1>
        <p class="lead">{{ 'welcome.active'|trans({'year':year}) }}</p>
        <hr class="my-4">
        <figure class="figure">
            {% for country in countries %}
                <img src="{{ asset('images/Flag_of_%s.svg'|format(country)) }}"
                     class="rounded float-left mb-2 ml-2" height="50" alt="{{ country }}">
            {% endfor %}
        </figure>
        <hr class="my-4">
        <p>{{ 'welcome.overview.contestant.description.anonymous'|trans({'total':categories['total'],'clubs':clubsCount})|raw }}</p>
        <div class="row row-cols-1 row-cols-xxl-2 g-3 mb-3">
            <div class="col">
                <div class="card">
                    <div class="card-header">{{ 'welcome.overview.contestant.level-messe'|trans }}</div>
                    <div class="progress">
                        {% set capacityMesse = ((limit_messe - limit_service.messeCup)/limit_messe*100)|round %}
                        {% set barColorMesse = capacityMesse > 90 ? "bg-danger" : capacityMesse > 75 ? "bg-warning" : "bg-success" %}
                        <div class="progress-bar {{ barColorMesse }}" style="width: {{ capacityMesse }}%" role="progressbar" aria-label="{{ 'welcome.overview.contestant.level-messe'|trans }}"
                             aria-valuenow="{{ limit_messe - limit_service.messeCup }}" aria-valuemin="0" aria-valuemax="{{ limit_messe }}">
                            {{ capacityMesse }}%
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">{{ 'welcome.overview.contestant.level-ega'|trans }}</div>
                    <div class="progress">
                        {% set capacityEga = ((limit_ega - limit_service.egaPokal)/limit_ega*100)|round %}
                        {% set barColorEga = capacityEga > 90 ? "bg-danger" : capacityEga > 75 ? "bg-warning" : "bg-success" %}
                        <div class="progress-bar {{ barColorEga }}" style="width: {{ capacityEga }}%" role="progressbar" aria-label="{{ 'welcome.overview.contestant.level-ega'|trans }}"
                             aria-valuenow="{{ limit_ega - limit_service.egaPokal }}" aria-valuemin="0" aria-valuemax="{{ limit_ega }}">
                            {{ capacityEga }}%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-4 g-3">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>{{ 'welcome.overview.contestant.messe'|trans }}
                                - {{ 'contestant.data.gender.female'|trans }}</div>
                            <span class="badge rounded-pill text-bg-danger">
                                {{ categories['messe']['female']['total'] }}
                            </span>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for category, amount in categories['messe']['female'] %}
                            {% if category != 'total' %}
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>{{ category }}</div>
                                        <span class="badge rounded-pill text-bg-warning">
                                            {{ amount }}
                                        </span>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>{{ 'welcome.overview.contestant.messe'|trans }}
                                - {{ 'contestant.data.gender.male'|trans }}</div>
                            <span class="badge rounded-pill text-bg-primary">
                                {{ categories['messe']['male']['total'] }}
                            </span>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for category, amount in categories['messe']['male'] %}
                            {% if category != 'total' %}
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>{{ category }}</div>
                                        <span class="badge rounded-pill text-bg-info">
                                            {{ amount }}
                                        </span>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>{{ 'welcome.overview.contestant.ega'|trans }}
                                - {{ 'contestant.data.gender.female'|trans }}</div>
                            <span class="badge rounded-pill text-bg-danger">
                                {{ categories['ega']['female']['total'] }}
                            </span>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for category, amount in categories['ega']['female'] %}
                            {% if category != 'total' %}
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>{{ category }}</div>
                                        <span class="badge rounded-pill text-bg-warning">
                                            {{ amount }}
                                        </span>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>{{ 'welcome.overview.contestant.ega'|trans }}
                                - {{ 'contestant.data.gender.male'|trans }}</div>
                            <span class="badge rounded-pill text-bg-primary">
                                {{ categories['ega']['male']['total'] }}
                            </span>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for category, amount in categories['ega']['male'] %}
                            {% if category != 'total' %}
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>{{ category }}</div>
                                        <span class="badge rounded-pill text-bg-info">
                                            {{ amount }}
                                        </span>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <p>{{ 'welcome.contact-us.title'|trans }}</p>
        <p>
            {{ 'welcome.contact-us.name'|trans }}<br/>
            {{ 'welcome.contact-us.street'|trans }}<br/>
            {{ 'welcome.contact-us.zipcode'|trans }} {{ 'welcome.contact-us.city'|trans }}<br/>
            <a class="fa fa-envelope" href="mailto:{{ 'welcome.contact-us.email'|trans }}">
                {{ 'welcome.contact-us.email'|trans }}
            </a><br/>
        </p>
    </div>
{% endblock %}
