{% extends 'base.html.twig' %}

{% block title %}{{ title|trans }}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap-table.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-table-filter-control.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascript %}
    <script src="{{ asset('js/bootstrap-table.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap-table-filter-control.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap-table-export.js') }}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.26.0/tableExport.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.26.0/libs/js-xlsx/xlsx.core.min.js"></script>
    <script src="{{ asset('js/bootstrap-table-%s.min.js'|format(app.request.locale|upper)) }}"
            type="text/javascript"></script>

    <script>
        window.myIcons = {
            columns: 'fa-th-list',
            export: 'fa-download'
        }
    </script>
    <script>
        $(document).ready(function () {
            let headers = $('#contestants-table thead tr th')
            headers.each(function () {
                    $(this).attr("data-tableexport-value", $(this).text())
                }
            )
        })
    </script>
{% endblock %}

{% block body %}
    <div class="p-2 p-md-3 bg-light rounded-3">
        <h1 class="display-4">{{ title|trans }}</h1>
        <hr class="my-4">
        <table
            id="contestants-table"
            data-toggle="table"
            data-locale="{{ app.request.locale }}"
            data-icons-prefix="fa"
            data-icons="myIcons"
            data-search="true"
            data-search-align="left"
            data-search-accent-neutralise="true"
            data-pagination="true"
            data-show-columns="true"
            data-buttons-align="left"
            data-buttons-class="primary"
            data-filter-control="true"
            data-show-export="true"
            data-export-types="['csv', 'xlsx']"
            data-export-data-type="all"
        >
            <caption>{{ title|trans }}</caption>
            <thead>
            <tr>
                <th data-field="first-name" data-sortable="true" data-filter-control="input">
                    {{ 'contestant.data.first-name'|trans }}
                </th>
                <th data-field="last-name" data-sortable="true" data-filter-control="input">
                    {{ 'contestant.data.last-name'|trans }}
                </th>
                <th data-field="club" data-sortable="true" data-filter-control="select">
                    {{ 'admin.data.club'|trans }}
                </th>
                <th data-field="country" data-sortable="true" data-filter-control="select">
                    {{ 'admin.data.country'|trans }}
                </th>
                <th data-field="state" data-sortable="true" data-filter-control="select">
                    {{ 'registration.data.state'|trans }}
                </th>
                <th data-field="gender" data-sortable="true" data-filter-control="select">
                    {{ 'contestant.data.gender.title'|trans }}
                </th>
                <th data-field="year" data-sortable="true" data-filter-control="select">
                    {{ 'contestant.data.year'|trans }}
                </th>
                <th data-field="age-category" data-sortable="true" data-filter-control="select">
                    {{ 'contestant.data.age-category.title'|trans }}
                </th>
                <th data-field="weight-category" data-sortable="true" data-filter-control="select">
                    {{ 'contestant.data.weight-category'|trans }}
                </th>
                <th data-field="created-at" data-sortable="false">
                    {{ 'contestant.data.created-at'|trans }}
                </th>
                <th data-field="comment" data-sortable="true">
                    {{ 'contestant.data.comment.for'|trans }}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for femaleContestant in femaleContestants %}
                <tr>
                    <td>{{ femaleContestant.firstName }}</td>
                    <td>{{ femaleContestant.lastName }}</td>
                    <td>{{ femaleContestant.registration.club }}</td>
                    <td>{{ femaleContestant.registration.country }}</td>
                    <td>{{ femaleContestant.registration.state }}</td>
                    <td>{{ "contestant.data.gender.female"|trans }}</td>
                    <td data-tableexport-xlsxformatid="1">{{ femaleContestant.year }}</td>
                    <td>{{ "contestant.data.age-category.#{ ageCategory }"|trans }}</td>
                    <td data-tableexport-xlsxformatid="1">{{ femaleContestant.weightCategory }}</td>
                    <td>{{ femaleContestant.createdAt|date('d.m.Y H:i') }}</td>
                    <td>{{ femaleContestant.comment }}</td>
                </tr>
            {% endfor %}
            {% for maleContestant in maleContestants %}
                <tr>
                    <td>{{ maleContestant.firstName }}</td>
                    <td>{{ maleContestant.lastName }}</td>
                    <td>{{ maleContestant.registration.club }}</td>
                    <td>{{ maleContestant.registration.country }}</td>
                    <td>{{ femaleContestant.registration.state }}</td>
                    <td>{{ "contestant.data.gender.male"|trans }}</td>
                    <td data-tableexport-xlsxformatid="1">{{ maleContestant.year }}</td>
                    <td>{{ "contestant.data.age-category.#{ ageCategory }"|trans }}</td>
                    <td data-tableexport-xlsxformatid="1">{{ maleContestant.weightCategory }}</td>
                    <td>{{ maleContestant.createdAt|date('d.m.Y H:i') }}</td>
                    <td>{{ maleContestant.comment }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
