<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ 'welcome.title'|trans }}{% endblock %}</title>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon-judoclub-erfurt.png') }}"/>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://kit.fontawesome.com/f0d5ec1ada.js"></script>
    <script src="{{ asset('js/jquery-3.6.1.slim.min.js') }}" type="text/javascript"></script>
</head>
<style>
    body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
    }
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary p-0" aria-label="site navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('welcome') }}">
            <img src="{{ asset('images/favicon-judoclub-erfurt.png') }}" width="50" alt="EJC"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('welcome') }}">{{ 'base.menu.home'|trans }}</a>
                </li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('registration_edit') }}">
                            {{ 'base.menu.registration_edit'|trans }}
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ 'base.menu.contestant.messe'|trans }}
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('contestants_edit_messe_female') }}">
                                {{ 'contestant.data.gender.female'|trans }}
                            </a>
                            <a class="dropdown-item" href="{{ path('contestants_edit_messe_male') }}">
                                {{ 'contestant.data.gender.male'|trans }}
                            </a>
                        </div>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ 'base.menu.contestant.ega'|trans }}
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('contestants_edit_ega_female') }}">
                                {{ 'contestant.data.gender.female'|trans }}
                            </a>
                            <a class="dropdown-item" href="{{ path('contestants_edit_ega_male') }}">
                                {{ 'contestant.data.gender.male'|trans }}
                            </a>
                        </div>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link link-warning dropdown-toggle" href="#"
                               role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ 'base.menu.admin.title'|trans }}
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{{ path('admin_index') }}">
                                        {{ 'base.menu.admin.index'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('admin_messe') }}">
                                        {{ 'base.menu.admin.messe'|trans }}
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('admin_ega') }}">
                                        {{ 'base.menu.admin.ega'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                {% else %}
                    {% if date('now', 'Europe/Paris') < date(endDate, 'Europe/Paris') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('registration_new') }}">{{ 'base.menu.register'|trans }}</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li class="nav-item">
                    {% if is_granted('IS_IMPERSONATOR') %}
                    <a class="nav-link link-warning" href="{{ impersonation_exit_path(path('admin_index') ) }}">
                        {{ 'base.menu.exit-impersonation'|trans }}
                    </a>
                    {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="nav-link" href="{{ path('logout') }}">{{ 'base.menu.logout'|trans }}</a>
                    {% else %}
                        <a class="nav-link" href="{{ path('login') }}">{{ 'base.menu.login'|trans }}</a>
                    {% endif %}
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        <img class="mb-2" src="{{ asset('images/Flag_of_%s.svg'|format(app.request.locale|upper)) }}"
                             height="15" alt="{{ app.request.locale|upper }}"/>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               href="{{ path(app.request.get('_route',  'welcome'), app.request.attributes.get('_route_params')|merge({_locale:'de'})) }}">
                                <img class="mb-2" src="{{ asset('images/Flag_of_DE.svg') }}" height="15" alt="DEU"/>
                                {{ 'base.language.de'|trans }}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="{{ path(app.request.get('_route',  'welcome'), app.request.attributes.get('_route_params')|merge({_locale:'en'})) }}">
                                <img class="mb-2" src="{{ asset('images/Flag_of_EN.svg') }}" height="15" alt="ENG"/>
                                {{ 'base.language.en'|trans }}
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
<main role="main" class="container p-0 p-md-3">
    {% if limit_service.messeCup <= 0 %}
        <div class="alert alert-danger mb-0" role="alert">
            {{ 'base.alert.limit.exceeded.messe'|trans }}
        </div>
    {% elseif limit_service.messeCup < 100 %}
        <div class="alert alert-warning mb-0" role="alert">
            {{ 'base.alert.limit.close.messe'|trans }}
        </div>
    {% endif %}
    {% if limit_service.egaPokal <= 0 %}
    <div class="alert alert-danger mb-0" role="alert">
        {{ 'base.alert.limit.exceeded.ega'|trans }}
    </div>
    {% elseif limit_service.egaPokal < 100 %}
        <div class="alert alert-warning mb-0" role="alert">
            {{ 'base.alert.limit.close.ega'|trans }}
        </div>
    {% endif %}
    {% if date('now', 'Europe/Paris') > date(endDate, 'Europe/Paris') %}
        <div class="alert alert-danger mb-0" role="alert">
            {{ 'base.alert.end-date'|trans }}
        </div>
    {% elseif date('now', 'Europe/Paris') > date(deadline, 'Europe/Paris') %}
        <div class="alert alert-warning mb-0" role="alert">
            {{ 'base.alert.deadline'|trans }}
        </div>
    {% endif %}
    {% block body %}{% endblock %}
</main>

<nav class="navbar navbar-expand-lg fixed-bottom navbar-light bg-light" aria-label="footer">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarFooter"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarFooter">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ 'base.footer.homepage.link'|trans }}">
                        {{ 'base.footer.homepage.title'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ 'base.footer.about-us.link'|trans }}">
                        {{ 'base.footer.about-us.title'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ 'base.footer.privacy.link'|trans }}">
                        {{ 'base.footer.privacy.title'|trans }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
{% block javascript %}{% endblock %}
</html>
