{% extends 'base.html.twig' %}

{% block title %}{{ "contestant.title.#{ cup }"|trans }} - {{ "contestant.data.gender.#{ gender }"|trans }}{% endblock %}

{% block body %}
    {% set modificationsAllowed = is_granted('IS_IMPERSONATOR') or date(endDate, 'Europe/Paris') > date('now', 'Europe/Paris') %}
    {% set additionsAllowed = (cup == 'ega' and limit_service.egaPokal > 0) or (limit_service.messeCup > 0) %}
    {{ form_start(form, {'attr': {'id': 'contestants_form'}}) }}
    {{ form_row(form._token) }}
    <div class="p-2 p-md-3 bg-light rounded-3">
        <h1 class="display-4">{{ "contestant.title.#{ cup }"|trans }}
            - {{ "contestant.data.gender.#{ gender }"|trans }}</h1>
        <p class="lead">{{ 'contestant.description'|trans }}</p>
        {% if modificationsAllowed %}
            <hr class="my-4">
            <div class="container">
                <div class="row justify-content-start gap-2">
                    <div class="col-auto p-0">
                        <input class="btn btn-success btn-block" type="submit"
                               value="{{ 'global.forms.button.save'|trans }}"/>
                    </div>
                    <div class="col-auto p-0">
                        <a class="btn btn-dark btn-block" href="{{ path('welcome') }}">
                            {{ 'global.forms.button.back'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
        <hr class="my-4">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3" id="contestants" data-prototype="
{{ '            <div class="card h-100 border-danger">
                    <div class="card-body pt-2 pb-3">
                        <div class="row">
                            <div class="col-auto me-auto">
                                <h5 class="card-title mb-0">'|e }}{{ "contestant.data.title.#{ gender }"|trans }}{{ '</h5>
                                <small class="text-muted">'|e }}{{ 'contestant.data.first-name'|trans }}{{ '</small>
                            </div>
                            <div class="col-auto" id="buttons-go-here"></div>
                        </div>'|e }}{{ form_widget(form.contestants.vars.prototype.comment)|e }}
                        {{ form_widget(form.contestants.vars.prototype.firstName)|e }}
{{ '                    <small class="text-muted">'|e }}{{ 'contestant.data.last-name'|trans }}{{ '</small>'|e }}
                        {{ form_widget(form.contestants.vars.prototype.lastName)|e }}
{{ '                    <small class="text-muted">'|e }}{{ 'contestant.data.year'|trans }}{{ '</small>'|e }}
                        {{ form_widget(form.contestants.vars.prototype.year)|e }}
{{ '                    <small class="text-muted">'|e }}{{ 'contestant.data.gender.title'|trans }}{{ '</small>'|e }}
                        {{ form_widget(form.contestants.vars.prototype.gender)|e }}
                        {{ form_widget(form.contestants.vars.prototype.genderDisplay)|e }}
{{ '                    <small class="text-muted">'|e }}{{ 'contestant.data.age-category.title'|trans }}{{ '</small>'|e }}
                        {{ form_widget(form.contestants.vars.prototype.ageCategoryDisplay)|e }}
{{ '                    <small class="text-muted">'|e }}{{ 'contestant.data.weight-category'|trans }}{{ '</small>'|e }}
                        {{ form_widget(form.contestants.vars.prototype.weightCategory)|e }}
{{ '                </div>
                    <div class="card-footer text-danger border-danger">
                        <i class="fas fa-times-circle text-danger"></i> '|e }}{{ 'contestant.status.created'|trans }}{{ '
                    </div>
                </div>
                '|e }}">
            {% for contestant in form.contestants %}
                <div class="col mb-4" id="contestant">
                    <div class="card h-100 border-success">
                        <div class="card-body pt-2 pb-3">
                            <div class="row">
                                <div class="col-auto me-auto">
                                    <h5 class="card-title mb-0">{{ "contestant.data.title.#{ gender }"|trans }}</h5>
                                    <small
                                        class="text-muted">{{ 'contestant.data.first-name'|trans }}</small>
                                </div>
                                {{ form_widget(contestant.comment) }}
                                <div class="col-auto" id="buttons-go-here">
                                    <button
                                        class="btn btn-warning ms-1 {% if not modificationsAllowed %}disabled{% endif %}"
                                        type="button" data-bs-toggle="modal" data-bs-target="#moveModal"
                                        data-contestant-id="{{ contestant.vars.data.id }}"><i
                                            class="fa fa-exchange-alt"></i></button>
                                </div>
                            </div>
                            {{ form_widget(contestant.firstName) }}
                            <small class="text-muted">{{ 'contestant.data.last-name'|trans }}</small>
                            {{ form_widget(contestant.lastName) }}
                            <small class="text-muted">{{ 'contestant.data.year'|trans }}</small>
                            {{ form_widget(contestant.year) }}
                            <small class="text-muted">{{ 'contestant.data.gender.title'|trans }}</small>
                            {{ form_widget(contestant.gender) }}
                            {{ form_widget(contestant.genderDisplay) }}
                            <small
                                class="text-muted">{{ 'contestant.data.age-category.title'|trans }}</small>
                            {{ form_widget(contestant.ageCategoryDisplay) }}
                            <small
                                class="text-muted">{{ 'contestant.data.weight-category'|trans }}</small>
                            {{ form_widget(contestant.weightCategory) }}
                        </div>
                        <div class="card-footer border-success text-success">
                            {% if contestant.vars.data.createdAt > date(deadline, 'Europe/Paris') %}
                                <i class="fas fa-check-circle text-warning"></i> {{ 'contestant.status.late'|trans }}
                            {% else %}
                                <i class="fas fa-check-circle text-success"></i> {{ 'contestant.status.saved'|trans }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if modificationsAllowed and additionsAllowed %}
                <div class="col mb-4" id="add-new-contestant">
                    <div class="card h-100 text-center align-items-center">
                        <div class="card-body d-flex align-items-center">
                            <button class="btn btn-primary add-a-tag stretched-link" type="button">
                                <i class="fas fa-user-plus fa-7x card-img"></i>
                            </button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if modificationsAllowed %}
            <hr class="mb-4">
            <div class="container">
                <div class="row justify-content-start gap-2">
                    <div class="col-auto p-0">
                        <input class="btn btn-success btn-block" type="submit"
                               value="{{ 'global.forms.button.save'|trans }}"/>
                    </div>
                    <div class="col-auto p-0">
                        <a class="btn btn-dark btn-block" href="{{ path('welcome') }}">
                            {{ 'global.forms.button.back'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel">
                        {{ 'contestant.data.comment.title'|trans }}
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="comment-textarea" class="col-form-label">
                                {{ 'contestant.data.comment.for'|trans }}
                            </label>
                            <label class="modal-body-name"></label>
                            <textarea class="form-control" id="comment-textarea"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="modal-save" onclick="save()" type="button" class="btn btn-success"
                            data-bs-dismiss="modal">
                        {{ 'global.forms.button.save'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="moveModal" tabindex="-1" role="dialog" aria-labelledby="moveModalLabel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="moveModalLabel">
                        {{ 'contestant.action.move.title'|trans }}
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="move-select" class="col-form-label">
                                {{ 'contestant.action.move.to'|trans }}
                            </label>
                            <span style="display: none" id="move-contestant-id"></span>
                            <select class="form-control" id="move-select">
                                {%  if limit_service.messeCup > 0 %}
                                <option
                                    value="{{ path('contestants_move', {id: "_id_", fromCup: "#{ cup }", fromGender: "#{ gender }", toCup: "messe", toGender: "female"}) }}">
                                    {{ 'base.menu.contestant.messe'|trans }} {{ 'contestant.data.gender.female'|trans }}
                                </option>
                                <option
                                    value="{{ path('contestants_move', {id: "_id_", fromCup: "#{ cup }", fromGender: "#{ gender }", toCup: "messe", toGender: "male"}) }}">
                                    {{ 'base.menu.contestant.messe'|trans }} {{ 'contestant.data.gender.male'|trans }}
                                </option>
                                {% endif %}
                                {%  if limit_service.egaPokal > 0 %}
                                <option
                                    value="{{ path('contestants_move', {id: "_id_", fromCup: "#{ cup }", fromGender: "#{ gender }", toCup: "ega", toGender: "female"}) }}">
                                    {{ 'base.menu.contestant.ega'|trans }} {{ 'contestant.data.gender.female'|trans }}
                                </option>
                                <option
                                    value="{{ path('contestants_move', {id: "_id_", fromCup: "#{ cup }", fromGender: "#{ gender }", toCup: "ega", toGender: "male"}) }}">
                                    {{ 'base.menu.contestant.ega'|trans }} {{ 'contestant.data.gender.male'|trans }}
                                </option>
                                {% endif %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="modal-save" onclick="move()" type="button" class="btn btn-success"
                            data-bs-dismiss="modal">
                        {{ 'global.forms.button.save'|trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block javascript %}
    {% set modificationsAllowed = is_granted('IS_IMPERSONATOR') or date(endDate, 'Europe/Paris') > date('now', 'Europe/Paris') %}
    <script>
        let $collectionHolder;
        let $removeFormButton = $('<button class="btn btn-danger ms-1 {% if not modificationsAllowed %}disabled{% endif %}" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>');
        let $commentFormButton = $('<button class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#commentModal" data-comment=""><i class="fa fa-comment"></i></button>');

        let unsaved = false;

        $(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('#contestants');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('div#contestant').each(function () {
                addTagFormCommentLink($(this));
                addTagFormDeleteLink($(this));
            });

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            let $contestantCount = $collectionHolder.find('div#contestant');
            $collectionHolder.data('index', $contestantCount.length);

            let $addTagLink = $('button.add-a-tag');
            $addTagLink.on('click', function (e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();
                unsaved = true;

                // add a new tag form (see code block below)
                addTagForm($collectionHolder, $addTagLink);
            });

            function unloadPage() {
                if (unsaved) {
                    return "{{ 'global.forms.unsaved-changes-warning'|trans }}";
                }
            }

            window.onbeforeunload = unloadPage;

            let myForm = document.querySelector('#contestants_form');

            myForm.addEventListener("submit", function () {
                unsaved = false
            });

            $(".card input").change(function () {
                unsaved = true;
            });

            $(".card select").change(function () {
                unsaved = true;
            });
        });

        function addTagForm($collectionHolder) {
            // Get the data-prototype explained earlier
            let prototype = $collectionHolder.data('prototype');

            // get the new index
            let index = $collectionHolder.data('index');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on how many items we have
            let newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in a li, before the "Add a tag" link td
            let finalForm = $('<div class="col mb-4" id="contestant"></div>')
                .append(newForm);

            addTagFormCommentLink(finalForm);
            addTagFormDeleteLink(finalForm);

            finalForm.insertBefore('#add-new-contestant');
        }

        function addTagFormCommentLink($tagFromContestant) {
            let $thisCommentFormButton = $commentFormButton.clone();
            let $buttonGoesHere = $tagFromContestant.find('#buttons-go-here');

            let $commentHiddenType = $tagFromContestant.find('input.hidden-comment');
            $thisCommentFormButton.attr('data-comment', $commentHiddenType.attr('value'));
            $thisCommentFormButton.attr('data-id', $commentHiddenType.attr('id'));

            if ($thisCommentFormButton.attr('data-comment') !== '')
                $thisCommentFormButton.removeClass('btn-info').addClass('btn-success');

            $buttonGoesHere.append($thisCommentFormButton);
        }

        function addTagFormDeleteLink($tagFormContestant) {
            let $thisRemoveFormButton = $removeFormButton.clone();
            let $buttonGoesHere = $tagFormContestant.find('#buttons-go-here');
            $buttonGoesHere.append($thisRemoveFormButton);

            $thisRemoveFormButton.on('click', function () {
                // remove the li for the tag form
                unsaved = true;
                $tagFormContestant.remove();
            });
        }

        $('#commentModal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget); // Button that triggered the modal
            let comment = button.attr('data-comment'); // Extract info from data-* attributes
            let id = button.data('id'); // Extract info from data-* attributes
            let firstNameId = id.replaceAll('comment', 'firstName')
            let lastNameId = id.replaceAll('comment', 'lastName')
            let name = $('#' + firstNameId).val() + " " + $('#' + lastNameId).val(); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            let modal = $(this);
            modal.find('.modal-body-name').text(name);
            modal.find('.modal-body textarea').val(comment);
            modal.find('.modal-body textarea').attr('data-id', id);
        });

        $('#moveModal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget); // Button that triggered the modal
            let contestantId = button.attr('data-contestant-id'); // Extract info from data-* attributes

            let modal = $(this);
            modal.find('#move-contestant-id').text(contestantId);
        });

        function save() {
            let commentTextArea = $("#comment-textarea");
            let comment = commentTextArea.val();
            let id = commentTextArea.attr('data-id');

            let $button = $('button[data-id=' + id + ']');
            if (comment === '')
                $button.removeClass('btn-sucess').addClass('btn-info');
            else
                $button.removeClass('btn-info').addClass('btn-success');
            $button.attr('data-comment', comment);
            $('#' + id).attr('value', comment);
        }

        function move() {
            let moveSelect = $("#move-select");
            let selectedTargetPath = moveSelect.find(":selected").val();

            let contestantId = $("#move-contestant-id")

            let redirectUrl = selectedTargetPath.replace("_id_", contestantId.text())
            console.log(redirectUrl)
            window.location.href = redirectUrl
        }
    </script>
{% endblock %}
